<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="za.co.rdata.r_datamobile">

    <uses-sdk android:targetSdkVersion="29" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.CAMERA"> </uses-permission>

    <uses-feature
        android:name="android.hardware.camera2.full"
        android:required="false" />

    <application

        android:requestLegacyExternalStorage="true"
        android:grantUriPermissions="true"
        android:icon="@mipmap/ic__promun_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning,UnusedAttribute"
        android:networkSecurityConfig="@xml/network_security_config"
        >

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAnQemEmLj0R4orjxA8JrKG2y0aCuu_ujg"/>

        <!-- android:theme="@style/AppTheme" -->
        <activity
            android:name=".StartUpActivity"
            android:label="@string/app_name"

            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectRoute"
            android:label="@string/title_activity_select_route"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".meterReadingModule.MeterReadingActivity"
            android:label="@string/title_activity_meter_reading"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".SelectAsset"
            android:label="@string/title_activity_select_asset"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden"
        />

        <activity
            android:name=".SelectWarehouse"
            android:label="@string/select_warehouse"
            />

        <activity android:name=".assetModule.MakeScanAssetData"
            android:label="MakeScanAssetData"
            />

        <service
            android:name="org.jumpmind.symmetric.android.SymmetricService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="org.jumpmind.symmetric.android.SymmetricService" />
            </intent-filter>

        </service>

        <service android:name=".locationTools.DeviceLocationService"
            android:enabled="true"
            android:exported="false"
            android:label="@string/app_name">
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </service>
        <service android:name=".locationTools.GetLocation" />

        <activity
            android:name=".meterReadingModule.InputReadingActivity"
            android:label="@string/title_activity_input_reading"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".stringTools.SelectNoteActivity"
            android:label="@string/title_activity_select_note"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".stringTools.SelectNoAccessActivity"
            android:label="@string/title_activity_select_no_access"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".stringTools.SelectCondition"
            android:label="@string/title_activity_select_condition"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_login" />

        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity android:name=".LoginActivity" />
        <activity
            android:name=".GetNodeIDActivity"
            android:label="@string/title_activity_get_node_id"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".meterReadingModule.CloseRouteActivity" />
        <activity android:name=".meterReadingModule.MeterSearchActivity" />
        <activity android:name=".MaintainWebServerSettingsActivity" />

        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="unspecified"
            tools:replace="screenOrientation" />

        <activity android:name=".CameraActivity" />
        <activity android:name=".assetModule.PopulateRoomActivity" />
        <activity android:name=".stringTools.SelectDescriptionActivity" />
        <activity android:name=".assetModule.RoomSummaryActivity" />
        <activity android:name=".fileTools.EmailCreator" />
        <activity android:name=".stockModule.WareHouseSummary" />
        <activity android:name=".stockModule.StockScanActivity" />
        <activity android:name=".locationTools.MapsActivity" />
        <activity android:name=".GalleryActivity" />
        <activity android:name=".assetModule.MakeScanRoomData" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".assetModule.InputQuantity" />
        <activity android:name=".assetModule.RoomMainSummary" />
        <activity android:name=".assetModule.ExpandedSummaryOfRoom" />
        <activity android:name=".SelectDebtor" />
        <activity android:name=".meterReadingModule.SummaryRouteActivity" />
        <activity android:name=".ImageUploadActivity" />
        <activity android:name=".SelectJob" />
        <activity android:name=".jobModule.activity_job_card_holder" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="za.co.rdata.r_datamobile.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_provider_paths" />
        </provider>


    </application>

</manifest>
